{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<section class="content corps-professoral">
    <div class="container">
        <h3 class="section-title">DÉPARTEMENT GÉNIE INDUSTRIEL</h3>
        <div class="p1">
            <div class="row">
                <div class="col-lg"></div>

                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Chef du département</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme.
                                NOUI Zineb</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> zinoui@hotmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Coordonnateur filière</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                HAIN Mustapha</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> infohain@yahoo.fr
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg"></div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                BAHNASSE Ayoub</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> a.bahnasse@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme.
                                BAYED Nadia</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> bayednadia@yahoo.fr
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                BOUTAHAR Youssef</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> youssefb-83@hotmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                FANIDI Omar</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> faomdo@yahoo.fr
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                FEDOUAKI faycal</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> fedouaki.faycal@gmail.com

                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                JRIFI Abderrahim</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> jrifi@yahoo.fr
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                MEDDAOUI Anwar</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> ameddaoui@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                MOUTACHAOUIK Hicham</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> gotohicham@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme.
                                OUAZZANI TOUHAMI Naoual</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> nawalot@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mme.
                                TAYANE Souad</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> souadtayane2013@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                ZAKRANI Abdelali</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Industriel</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> zakrani@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}