{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<section class="content corps-professoral">
    <div class="container">
        <h5 class="section-title">DÉPARTEMENT GÉNIE MÉCANIQUE</h5>
        <div class="p2">
            <div class="row">
                <div class="col-lg"></div>
                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Chef du département</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                MIKDAM Amine</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>

                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> amine.mikdam@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <h5 class="text-center sous-title">Coordonnateur filière</h5>
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                KISSI Benaissa</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>

                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> kissifst@yahoo.fr
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg"></div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                AITELFQIH Mohammed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> m.aitelfqih@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                AKHIATE Aziz</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> a.akhiate@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                ANAS Rachid</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> rachid.anas@gmail.com

                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                BENSLIMANE Yassine</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> bensyassine@yahoo.fr
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                ELHAOUZI Ahmed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> elhaouzi4@gmail.com

                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                ENNAJI Mohamed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> ennaji.moh@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                MERROUN Ossama</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> meroun.ossama@gmail.com

                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                HADDOU El Ghazi</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> hadghazi@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                LAARAJ Mohamed</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> aaraj@yahoo.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                GUEMIMI Chafik</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> guemimichafik@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                TAHIR Youssef</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> ytahirensamcasa@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                TSSOULI Azzedine</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> azzeddine.tsouli@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                TIMESLI Abdelaziz</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> abdelaziz.timesli@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                KHATIB Hamza</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> hnz.khatib@gmail.com
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-3">
                    <div class="card card-cascade wider">
                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong>Mr.
                                EL KEBCH Ali</strong></h4>
                            <h5 class="blue-text pb-2"><strong>Departement: </strong><br> Génie Mécanique</h5>
                            <div>
                                <span class="bi bi-envelope"></span>
                            </div>
                            <div>
                                <h6 class="card-text"> alibec_ma@yahoo.fr
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>


{% endblock %}