asgiref==3.8.1
astroid==3.1.0
bandit==1.7.8
chardet==5.2.0
colorama==0.4.6
cssselect2==0.7.0
dill==0.3.8
distlib==0.3.8
Django==5.0.3
django-classy-tags==4.1.0
django-cms==4.1.0
django-filer==3.1.1
django-formtools==2.5.1
django-polymorphic==3.1.0
django-sekizai==4.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.1
djangocms-attributes-field==3.0.0
djangocms-bootstrap4==3.0.1
djangocms-file==3.0.1
djangocms-googlemap==2.2.0
djangocms-icon==2.1.0
djangocms-link==3.1.1
djangocms-picture==4.1.1
djangocms-style==3.1.0
djangocms-text-ckeditor==5.1.5
djangocms-video==3.1.0
easy-thumbnails==2.8.5
filelock==3.13.3
html5lib==1.1
isort==5.13.2
lxml==5.1.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mysqlclient==2.2.4
packaging==24.0
pbr==6.0.0
pillow==10.2.0
platformdirs==4.2.0
Pygments==2.17.2
pylint==3.1.0
python-decouple==3.8
PyYAML==6.0.1
reportlab==4.1.0
rich==13.7.1
setuptools==69.2.0
six==1.16.0
sqlparse==0.4.4
stevedore==5.2.0
svglib==1.5.1
tinycss2==1.2.1
tomlkit==0.12.4
tzdata==2024.1
virtualenv==20.25.1
webencodings==0.5.1
wheel==0.43.0
