{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}

<div class="tete">
    <br>
    <h1>Automatismes industriels & systèmes électriques</h1>
</div>

<section id="team" class="team ">


    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                    <ul class="nav nav-pills mb-3 custom-tab" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Objectifs et Débouchés
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false">Conditions d'admission
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact"
                                    aria-selected="false">Contact
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-plus-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-plus" type="button" role="tab"
                                    aria-controls="pills-plus"
                                    aria-selected="false">
                                Brochure
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <div style="margin-left: 20px;">
                                <strong><U>Objectifs de la formation</U></strong>
                                <br>
                                Cette formation permet aux étudiants d’acquérir des connaissances, des aptitudes et des
                                compétences en Automatismes industriels, Electrotechnique, Electronique de puissance ,
                                Régulation industrielle, Informatique Industrielle, maintenance et production afin
                                d’œuvrer dans les domaines des systèmes automatisés, les installations électriques, la
                                commande et la supervision des systèmes de production, la gestion de la production et de
                                la maintenance, la distribution et la transformation de l'énergie électrique, ainsi que
                                les énergies renouvelables.


                                <br>
                                <strong><U>Débouchés</U></strong>
                                <br>
                                <ul>
                                    <li>
                                        Responsable du pilotage des procédés automatisés.
                                    </li>
                                    <li>
                                        Responsable de la supervision des chaînes industrielles.
                                    </li>
                                    <li>
                                        Administrateur des réseaux locaux industriels.
                                    </li>
                                    <li>
                                        Chef de projet du système de Contrôle-Commande.
                                    </li>
                                    <li>
                                        Conducteur de production de l’énergie électrique.
                                    </li>
                                    <li>
                                        Installateur des systèmes d’énergie renouvelable.
                                    </li>
                                    <li>
                                        Auditeur sur l’efficacité énergétique.
                                    </li>
                                    <li>
                                        Planificateur des plans de maintenance.
                                    </li>
                                </ul>


                            </div>


                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <p style="margin-left: 20px;">
                                <strong><U>Admission</U></strong>
                                <br>
                                L’accès est ouvert à tous les titulaires d’un Bac+2 (DUT, DTS, BTS, DEUG, DEUST, DEUP,
                                ISTA, TS) ou tout diplôme reconnu équivalent.
                                Les candidats munis du dossier d’inscription passent un entretien de sélection pour
                                valider leur candidature.


                            </p>


                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <div style="margin-left: 20px;">
                                <h3>Responsable de la formation:</h3>
                                <strong>Pr. A. AIT ELMAHJOUB / M.ZEGRARI</strong>
                                <p>E-mail: aise.ensam.casa@gmail.com</p>


                                <p>ENSAM:<br>
                                    Adresse de l’école: 150 Avenue Nile Sidi Othman, Casablanca
                                    N° de Téléphone: 05 22 56 42 22</p>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="pills-plus" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <object data="{% static 'assets/pdf/formation/licence/Automate_indus.pdf' %}"
                                    type="application/pdf"
                                    width="100%"
                                    height="800px">
                                <p>Impossible d'afficher le PDF. Veuillez <a
                                        href="{% static 'assets/pdf/formation/licence/Automate_indus.pdf' %}">télécharger
                                    le
                                    fichier</a> pour le visualiser.</p>
                            </object>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
