{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}

<div class="tete">
    <br>
    <h1>Conception de systèmes automobiles et aéronautiques</h1>
</div>

<section id="team" class="team ">


    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                    <ul class="nav nav-pills mb-3 custom-tab" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Objectifs et Débouchés
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false">Conditions d'admission
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact"
                                    aria-selected="false">Contact
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-plus-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-plus" type="button" role="tab"
                                    aria-controls="pills-plus"
                                    aria-selected="false">
                                Brochure
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <div style="margin-left: 20px;">
                                <strong><U>Objectifs de la formation</U></strong>
                                <br>
                                Former des cadres intermédiaires ayant les missions de:
                                <ul>
                                    <li>
                                         Maîtriser les logiciels de dessins et de conception assistés par ordinateur
                                        (DAO/CAO)
                                        les plus utilisés par les industries automobile et aéronautique;
                                    </li>
                                    <li>
                                         Exercer le métier en CAO de systèmes et composants automobiles et
                                        aéronautiques,
                                        Concevoir, dimensionner et modifier un ensemble ou un sous-ensemble mécanique
                                        adaptés à
                                        partir d’un cahier des charges défini par le client et en respectant des normes
                                        en
                                        viguer du métier;
                                    </li>
                                    <li>
                                         Aborder tous les problèmes techniques liés à l’étude, au développement, au
                                        dimentionnement, à la conception et à la fabrication d’un système automobile ou
                                        aéronautique;
                                    </li>
                                </ul>


                                <br>
                                <strong><U>Débouchés</U></strong>
                                <br>
                                <ul>
                                    <li>
                                         PMI/PME et grandes entreprises: Automobile - Aéronautique - Mécanique -
                                        Ingénierie - Métallurgie...
                                    </li>
                                    <li>
                                         Services: Bureaux d’études - Bureau des méthodes - Outillage -et
                                        industrialisation - Équipement et travaux publics - Maintenance - Travaux neufs
                                        - Construction métallique - Recherche et développement / prototype - service
                                        d’ingénierie industriels...
                                    </li>
                                    <li>
                                         Activités: collaborateur d’ingénieur en conception mécanique, projecteur, chef
                                        de projet, concepteur en mécanique, responsable de service en CAO ...
                                    </li>
                                </ul>


                            </div>


                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <p style="margin-left: 20px;">
                                <strong><U>Admission</U></strong>
                                <br>
                                L’accès est ouvert à tous les titulaires d’un Bac+2 (DUT, DTS, BTS, DEUG, DEUST, DEUP,
                                ISTA, TS) ou tout diplôme reconnu équivalent.
                                Les candidats munis du dossier d’inscription passent un entretien de sélection pour
                                valider leur candidature.


                            </p>


                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <div style="margin-left: 20px;">
                                <h3>Responsable de la formation:</h3>
                                <strong>Pr. A. AIT ELMAHJOUB / M.ZEGRARI</strong>
                                <p>E-mail: aise.ensam.casa@gmail.com</p>


                                <p>ENSAM:<br>
                                    Adresse de l’école: 150 Avenue Nile Sidi Othman, Casablanca
                                    N° de Téléphone: 05 22 56 42 22</p>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="pills-plus" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                             <object data="{% static 'assets/pdf/formation/licence/Aero.pdf' %}"
                                    type="application/pdf"
                                    width="100%"
                                    height="800px">
                                <p>Impossible d'afficher le PDF. Veuillez <a
                                        href="{% static 'assets/pdf/formation/licence/Aero.pdf' %}">télécharger
                                    le
                                    fichier</a> pour le visualiser.</p>
                            </object>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
