{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}

<div class="tete">
    <br>
    <h1>Développement Logiciel et Sécurité des systèmes</h1>
</div>

<section id="team" class="team ">


    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                    <ul class="nav nav-pills mb-3 custom-tab" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Objectifs et Débouchés
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false">Conditions d'admission
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact"
                                    aria-selected="false">Contact
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-plus-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-plus" type="button" role="tab"
                                    aria-controls="pills-plus"
                                    aria-selected="false">
                                Brochure
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <div style="margin-left: 20px;">
                                <strong><U>Objectifs de la formation</U></strong>
                                <br>
                                L’objectif de la licence DL2S est de former de futurs informaticiens spécialisés sur les
                                thèmes du génie logiciel et sécurité des systèmes qui aurant intégrer dans leur culture
                                l’enjeu de la qualité que pose tout développement logiciel. Ainsi, à l’issue de la
                                licence, l’analyse et le développement fiable de logiciels auront été détaillés avec le
                                UML, JAVA, JEE, PHP et les autres technologies. En plus, notre formation vise également
                                à former des compétences dans le domaine de réseaux et la sécurité.


                                <br>
                                <strong><U>Débouchés</U></strong>
                                <br>
                                <ul>
                                    <li>
                                        Développeur des applications web et mobiles
                                    </li>
                                    <li>
                                        Développeur des applications J2EE
                                    </li>
                                    <li>
                                        Administrateur des réseaux informatiques
                                    </li>
                                    <li>
                                        Spécialiste en sécurité des systèmes
                                    </li>
                                    <li>
                                        Intégrateur des systèmes d’information

                                    </li>
                                </ul>


                            </div>


                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <p style="margin-left: 20px;">
                                <strong><U>Admission</U></strong>
                                <br>
                                L’accès est ouvert à tous les titulaires d’un Bac+2 (DEUG, DEUST, DUT, BTS...) ou tout
                                diplôme reconnu équivalent. Les candidats munis du dossier d’inscription passeront un
                                entretien de séléction pour valider leur candidature.

                            </p>


                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <div style="margin-left: 20px;">
                                <h3>Responsable de la formation:</h3>


                                <strong> Pr. Moutachaouik Hicham</strong>
                                <p>E-mail: dl2s.ensam@gmail.com</p>


                                <p>ENSAM:<br>
                                    Adresse de l’école: 150 Avenue Nile Sidi Othman, Casablanca
                                    N° de Téléphone: 05 22 56 42 22</p>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="pills-plus" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                             <object data="{% static 'assets/pdf/formation/licence/devloppement.pdf' %}"
                                    type="application/pdf"
                                    width="100%"
                                    height="800px">
                                <p>Impossible d'afficher le PDF. Veuillez <a
                                        href="{% static 'assets/pdf/formation/licence/devloppement.pdf' %}">télécharger
                                    le
                                    fichier</a> pour le visualiser.</p>
                            </object>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
