{% extends 'base.html' %}
{% load cms_tags %}
{% load static %}
{% block content %}

<div class="tete">
    <br>
    <h1>Mot Du Directeur</h1>
</div>
<link href="https://fonts.cdnfonts.com/css/shantell-sans" rel="stylesheet">

<section id="testimonials" class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="background-color: transparent;" class="testimonial-item">

                    <div class="row">
                        <div class="col-8">
                            <br>
                            <center>
                                <h3 style="color:#1F5793;font-size: 40px;">Professeur Abdelmajid Badri<br>
                                    Directeur de l'ENSAM-Casablanca</h3>

                                <p style="color: #1F5793;font-size: 30px;">
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    La visite du présent site web vous permettra de découvrir l’environnement
                                    général de
                                    l’établissement ainsi que l’ensemble de ses activités.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>

                                </p>
                            </center>
                        </div>
                        <div class="col-4">
                            <img
                                    src="{% static 'assets/img/dir.png' %}" class="img-fluid" alt=""/>
                        </div>
                        <hr style="appearance: none;border: 5px solid blue;margin-top: -8px;">
                    </div>
                    <strong>

                        <div class="row">
                            <p style="text-align: justify;font-size:30px;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Depuis sa création en 2010, l'ENSAM-Casablanca s'est efforcée de joindre l'efficacité et la qualité au succès, établissant ainsi sa réputation en tant que grande école d'ingénieurs au Royaume du Maroc. Notre école est un établissement de l'Université Hassan II de Casablanca et a une mission claire : former une nouvelle génération de leaders engagés pour les métiers d'aujourd'hui et de demain, fournissant une formation de qualité tournée vers l'innovation.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">La réussite de nos élèves ingénieurs est indissociable de la qualité de la formation qu'ils reçoivent, de leur capacité à prendre des initiatives et à mener des projets tout au long de leurs cinq années à l'école. De nombreux lauréats de l'ENSAM-C occupent des postes de responsabilité stratégique, contribuant ainsi au développement de notre établissement.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Nous sommes conscients que la formation de nos lauréats doit être utile pour eux-mêmes, pour la société, pour le pays et pour les institutions. Cela nécessite l'implication effective de l'environnement professionnel et social de l'école. Nous nous efforçons de répondre aux attentes de tous, en particulier de Sa Majesté le Roi Mohamed VI, dont les discours et les orientations nous guident vers la réussite et la responsabilité.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Les années passées par nos élèves ingénieurs à l'ENSAM-C ne se résument pas à l'acquisition de connaissances et de compétences. Notre école est un lieu de création et d’innovation, où au sein de nos laboratoires de pointe dédiés aux travaux pratiques, nos futurs ingénieurs ont la possibilité de réaliser et concrétiser leurs projets. Notre Ecole est également un lieu d'épanouissement personnel, grâce à une vie associative riche et diversifiée à caractère culturel et sportif.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">La réussite de nos ENSAMIENNES et ENSAMIENS est démontrée par les trophées, attestations et prix qu'ils remportent dans différents concours scientifiques, culturelles et sportives nationales et internationales. Notre mission est de former des jeunes dynamiques, talentueux et hautement compétitifs, qualifiés et prêts à relever les défis de notre cher pays.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Notre école se distingue par sa vision ambitieuse :</span>
                            </p>
                            <ul style="text-align: justify;">
                                <li>
                                    <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Développer des compétences et du savoir: Nous nous engageons à fournir une formation de haute qualité qui prépare nos étudiants à exceller dans leur domaine.</span>
                                </li>
                                <li>
                                    <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Former une nouvelle génération de leaders compétents: Nous cherchons à développer non seulement les compétences techniques, mais aussi les qualités de leadership, l'éthique professionnelle et la pensée critique chez nos étudiants.</span>
                                </li>
                                <li>
                                    <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Promouvoir la recherche utile avec des normes internationales&nbsp;: Nous œuvrons pour une recherche qui vise à contribuer au développement de la société en respectant des normes internationales élevées.</span>
                                </li>
                                <li>
                                    <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Développer des partenariats durables: Nous croyons en l'importance des collaborations à long terme avec l'industrie et d'autres institutions académiques au niveau national et international.</span>
                                </li>
                                <li>
                                    <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Partager des valeurs de responsabilité sociale et de développement durable: Nous formons nos étudiants à comprendre l'impact de leurs actions sur la société et l'environnement.</span>
                                </li>
                            </ul>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Nous nous inscrivons pleinement dans le projet Pacte ESRI 2030 et le Nouveau Modèle de Développement (NMD) pour garantir notre positionnement au rang d'excellence. Notre offre de formation en sciences de l’ingénieur (formation 4.0) est à la pointe de l'innovation, et nous travaillons constamment pour améliorer le rendement interne et externe de notre école. Nous impliquons activement le secteur socio-économique et avons mis en place une plateforme de transfert de technologie ainsi qu'un incubateur pour soutenir les porteurs de projets. Notre recherche est axée sur l'utilité et la formation de docteurs de nouvelle génération (Recherche 4.0).</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Chez nous, les étudiants sont au cœur de nos préoccupations. Nous les encourageons à jouer un rôle actif au sein de l'école, en soutenant une vie associative dynamique et des clubs de créativité et d'innovation. L'innovation par le numérique et le digital est accessible à tous les niveaux de notre enseignement.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Nous avons établi des partenariats clés dans le domaine des sciences de l’ingénieur et l’innovation, offrant des espaces de certification, tels que le coding, Code 212 et autres. Notre académie de certification complète notre diplomation, garantissant une formation de haute qualité.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Nous nous engageons à former nos étudiants en développant leurs compétences "Power Skills" et &nbsp;"Soft Skills". Notre partenariat efficace avec les institutions académiques et de l'industrie assure une mobilité des étudiants, des professeurs et du personnel administratif, permettant la mise en œuvre des projets, cotutelle, double diplomation, …etc.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Les industriels sont étroitement impliqués dans nos projets (en amont, pendant et en aval) et nous bénéficions de l'expertise pédagogique Arts et Métiers.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Nous avons mis en place un système d'évaluation et de contrôle de la qualité à tous les niveaux de notre école pour garantir l'excellence de notre enseignement.</span>
                            </p>
                            <p style="text-align: justify;">
                                <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">L'ENSAM-Casablanca offre une insertion professionnelle riche et diversifiée grâce à un corps professoral et administratif qualifié, ainsi qu'à des équipements de pointe et d'actualité. Notre emplacement au cœur de Casablanca, la capitale économique du Maroc, est un atout inestimable pour préparer nos étudiants à relever les défis de l'industrie moderne.</span>
                            </p>
                            <p style="text-align: justify;">
                                <strong> <span
                                        style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Ensemble, nous bâtissons l'avenir de l'ingénierie et de la recherche au Maroc. Nous vous invitons à explorer notre site pour en savoir plus sur l'ENSAM-Casablanca et les opportunités qu'elle offre. Rejoignez-nous dans cette aventure passionnante.</span></strong>
                            </p>
                            <p>&nbsp;</p>
                            <center>
                                <p>
                                    <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Professeur Abdelmajid Badri</span>
                                </p>
                                <p>
                                    <span style="font-size:20px;font-family: 'Shantell Sans', sans-serif;">Directeur de l’ENSAM-Casablanca</span>
                                </p>
                            </center>
                            <p></p>
                        </div>
                    </strong>
                </div>


            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}
