{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<div class="tete">
    <br>
    <h1>{% page_attribute "page_title" %}</h1>
</div>
 <div class="row">
                <div class="col-lg-1 entries"></div>
                <div class="col-lg-10 entries">
                    <object style="background-color: white;" data="{% static 'assets/reglement.pdf' %}"
                            type="application/pdf" width="100%" height="800px">
                        <p>Impossible d'afficher le PDF. Veuillez <a href="{% static 'assets/reglement.pdf' %}">télécharger
                            le fichier</a> pour le visualiser.</p>
                    </object>
                </div>
                <div class="col-lg-1 entries"></div>
            </div>



{% endblock %}
