{% load static %}
{% load cms_tags menu_tags sekizai_tags %}

<footer  id="footer">
    <div class="footer-top" >
        <div class="container" >
            <div class="row" style="font-family: 'League Spartan', sans-serif;">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3 class="logo"><img src="{% static 'assets/img/logoENsam1.png' %}" alt="ENSAM Logo"/></h3>
                        <p>L'ENSAM de Casablanca est une école d'ingénieurs qui a pour mission de préparer les
                            étudiants-ingénieurs aux métiers du secteur industriel.</p>
                        <br/>
                        <p>
                            150 Avenue Nile Sidi Othman،
                            <br/>Casablanca 20670
                            <br/>
                            <strong>Phone:</strong> +212 52 25 64 222<br/>
                            <strong>Email:</strong> contact@ensam-casa.ma<br/>
                        </p>

                    </div>
                </div>


                <div class="col-lg-2 col-md-1"></div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6649.5357288194855!2d-7.570524267239957!3d33.55940715098728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda6332908d1d61b%3A0x569d5bec37f7f81a!2sENSAM%20CASABLANCA!5e0!3m2!1sfr!2sma!4v1600201212547!5m2!1sfr!2sma"
                                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                                        aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>ENSAM</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://gosmania.com/">GOSMANIA DIGITAL</a>
        </div>
    </div>
</footer>
