{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<div class="tete">
    <br>
    <h1>{% page_attribute "page_title" %}</h1>
</div>
<br>
<div style="text-align: center; margin-bottom: 10px;">
    <hr style="color: #1F5793; width: 10%; height:1%; display: inline-block;margin-right: 10px;margin-bottom: 0px;  ">
    <h1 style="color: #1F5793; display: inline-block;">Sciences de l’ingénieur</h1>
    <hr style="color: #1F5793; width: 10%;height:1%; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
</div>

<div class="row ml-4 mr-4">
    <strong>
        <p>
            Cette formation concerne principalement les domaines de la recherche appliquée et de l'ingénierie avancée.
            Son champ
            d'investigation est pluridisciplinaire et porte sur les systèmes intelligents, l'industrie 4.0, l'énergie et
            le
            développement
            durable, les systèmes complexes, les systèmes mécaniques, ingénierie de structures, Iot, le Big-Data ainsi
            que
            l'intelligence
            artificielle. Cette formation doctorale s’inscrit dans le cadre d’une vision global des différents
            laboratoires de
            l’ENSAM, une
            vision de recherche scientifique intégrant les équipes et les formations de master et doctorat.
        </p>
    </strong>

</div>
<br>
<div style="text-align: center; margin-bottom: 10px;">
    <hr style="color: #1F5793; width: 10%; height:1%; display: inline-block;margin-right: 10px;margin-bottom: 0px;  ">
    <h1 style="color: #1F5793; display: inline-block;">Sciences de l’ingénieur</h1>
    <hr style="color: #1F5793; width: 10%;height:1%; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
</div>

<div class="row ml-4 mr-4">
    <strong>
        <p>
        <ul>
            <li>
                Fournir aux doctorants une formation solide dans les sciences de l'ingénieur.
            </li>
            <li>
                Focaliser les formations sur les thématiques liées directement aux champs disciplinaires des
                laboratoires
                associés.
            </li>
            <li>
                Développer l'esprit de créativité et d'innovation dans la recherche appliquée.
            </li>
            <li>
                Doter les doctorants par les outils numériques de modélisation et de simulation numérique.
            </li>
            <li>
                Mutualiser les compétences et les ressources humaines et matérielles de l'établissement.
            </li>
            <li>
                Bénéficier des plate-formes technologiques pour le développement de prototypes expérimentaux.
            </li>
            <li>
                Disposer d'une base de connaissance élargie pour le traitement et l'analyse des données.
            </li>
        </ul>
        </p>
    </strong>
</div>
<br>
<div style="text-align: center; margin-bottom: 10px;">
    <hr style="color: #1F5793; width: 10%; height:1%; display: inline-block;margin-right: 10px;margin-bottom: 0px;  ">
    <h1 style="color: #1F5793; display: inline-block;">Retombées scientifiques</h1>
    <hr style="color: #1F5793; width: 10%;height:1%; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
</div>

<div class="row ml-4 mr-4">
    <strong>
        <p>
        <ul>
            <li>
                Consolidation des prérequis nécessaires pour les doctorants dans les thématiques liées aux sciences de
                l'ingénieur.
            </li>
            <li>
                Favoriser l'expérimentation dans les travaux de recherche et augmenter ainsi le nombre des publications
                de
                haut rang.
            </li>
            <li>
                Instaurer le concept de c-développement et de partenariat avec les collaborateurs industriels.
            </li>
            <li>
                Augmenter le nombre de brevets et de prototypes réalisés.
            </li>
        </ul>
        </p>
    </strong>

</div>
<br>
<div style="text-align: center; margin-bottom: 10px;">
    <hr style="color: #1F5793; width: 10%; height:1%; display: inline-block;margin-right: 10px;margin-bottom: 0px;  ">
    <h1 style="color: #1F5793; display: inline-block;">Retombées pédagogiques</h1>
    <hr style="color: #1F5793; width: 10%;height:1%; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
</div>

<div class="row ml-4 mr-4">
    <strong>
        <p>
        <ul>
            <li>
                Former des docteurs ayant une bonne expérience dans le domaine de l'ingénierie.
            </li>
            <li>
                Assurer une voie d'approfondissement et de motivation pour les diplômés de l'université (ingénieurs,
                Master).
            </li>
            <li>
                Réaliser des plate-formes technologiques performantes pour la recherche et l'enseignement.
            </li>
            <li>
                Formation Doctorale au profit des doctorants dans le domaine d’Intelligence Artificielle, des sciences
                de
                l’ingénieur et
                nouvelles technologies ;
            </li>
            <li>
                Développement de programmes de formation continue adaptés aux besoins des ressources humaines des
                entreprises.
            </li>
            <li>
                Formation dans le domaine des brevets et de la recherche en matière d’information brevets en
                collaboration
                avec l’OMPIC.
            </li>
            <li>
                Formation dans le domaine de l’entrepreneuriat et de gestion de projets
            </li>
        </ul>


        </p>
    </strong>

</div>
<br>
<div style="text-align: center; margin-bottom: 10px;">
    <hr style="color: #1F5793; width: 10%; height:1%; display: inline-block;margin-right: 10px;margin-bottom: 0px;  ">
    <h1 style="color: #1F5793; display: inline-block;">Retombées socio-économiques et culturelles pressenties</h1>
    <hr style="color: #1F5793; width: 10%;height:1%; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
</div>

<div class="row ml-4 mr-4">
    <strong>
        <p>
        <ul>
            <li>Au niveau régional : Répondre aux besoins formulés par les laboratoires œuvrant dans le domaine de la
                recherche
                appliquée et des sciences de l'ingénieur.
            </li>
            <li>
                Au niveau national : Assurer aux doctorants un savoir scientifique et un savoir-faire technologique bien
                adapté aux
                établissements Sciences et Techniques et aux écoles d'ingénieurs.
            </li>
            <li>
                Promotion de l'emploi par le développement des compétences techniques et la formation sur des
                spécialités
                innovantes
                (intelligence artificielle, systèmes connectés, smart-systems).
            </li>
        </ul>

        </p>
    </strong>

</div>
<br>
<div style="text-align: center; margin-bottom: 10px;">
    <hr style="color: #1F5793; width: 10%; height:1%; display: inline-block;margin-right: 10px;margin-bottom: 0px;  ">
    <h1 style="color: #1F5793; display: inline-block;">Axes de recherche
    </h1>
    <hr style="color: #1F5793; width: 10%;height:1%; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
</div>

<div class="row ml-4 mr-4">
    <strong>
        <p>
        <ul>
            <li>
                Systèmes Complexes : Conception, modélisation et simulation des systèmes cyber-physiques (SCP), aussi
                bien
                pour la
                recherche que pour le développement industriel.
            </li>
            <li>
                Énergie électrique : Gestion intelligente de l'énergie, Management 4.0 de l'énergie, Smart-Grids,
                Énergies
                Renouvelables,
                convertisseurs multi-niveaux, E-Mobility, Stockage et Power to X, Réseaux électriques du futur.
            </li>
            <li>
                Industrie 4.0 : Ingénierie des systèmes complexes, pilotage intégré, Optimisation et prévision des KPIs,
                Maintenance 4.0
                prédictive, Diagnostic et Pronostic industriels.
            </li>
            <li>
                Commande avancée : Modélisation et simulation des processus, commande non-linéaire, commandes
                prédictives et
                adaptatives.
            </li>
            <li>
                Systèmes connectés et intelligents : IoT, connectivité, digitalisation, systèmes embarqués, systèmes à
                temps
                réel, circuits
                logiques programmables VHDL et FPGA, télécommunications, réseaux de capteurs sans fil, transmission et
                acquisition de
                données.
            </li>
            <li>
                Sciences et ingénierie des matériaux et structures : Calcul de structures, materiaux innovants,
                Endommagement-FissuresFatigue des structures, Propriétés Mécanique des Matériaux, Comportement
                Dynamique
                des structures.
            </li>
            <li>
                SCIENCES MÉCANIQUES : Matériaux et procédés, Modélisation, simulation, Conception et expérimentation,
                Les
                Nanomatériaux appliqués aux systèmes photovoltaïques.
            </li>
            <li>
                Sciences et ingénierie des polymères : renforcement, Caractérisation, optmisation.
            </li>
        </ul>
        </p>
    </strong>
</div>
<br>
<div style="background-color:#1F5793;">
    <div style="text-align: center; ">
        <hr style="color: white; width: 10%; height:10px; display: inline-block;margin-right: 10px;margin-bottom: 0px; ">
        <h1 style="color: white; display: inline-block;">Conditions d’accès</h1>
        <hr style="color: white; width: 10%;height:10px; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
    </div>
    <center>
        <strong>
            <p style="color:white; font-size:20px;margin-left:20px;margin-right: 20px;">
            <ul style="color:white;">
                <li> Diplômes requis
                    Diplômes en Sciences et Techniques : Master ou Diplômes équivalents sous conditions et après étude
                    du
                    dossier
                    Pré-requis de compétences scientifiques d’accès à la formation doctorale.
                </li>
                <li>
                    Modules de Licence en physique, mécanique, électrique, matériaux, Cycle d’ingénieur génie mécanique,
                    génie électrique, génie
                    industriel, génie informatique.
                </li>
                <li>
                    Procédures de sélection
                    Étude de dossier et entretien oral sur le sujet du mémoire de fin d’études et sur la thématique que
                    le
                    doctorant souhaite
                    développer
                </li>
            </ul>
            </p>
        </strong>
    </center>
    <div style="text-align: center; ">
        <hr style="color: white; width: 10%; height:10px; display: inline-block;margin-right: 10px;margin-bottom: 0px; ">
        <h1 style="color: white; display: inline-block;">Durée de la formation</h1>
        <hr style="color: white; width: 10%;height:10px; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
    </div>
    <center>
        <strong>
            <p style="color:white; font-size:20px;margin-left:20px;margin-right: 20px;">
                La durée de la formation doctorale est de trois années. Deux dérogations d’une année peuvent être
                accordées
                selon des
                conditions spécifiées dans le règlement intérieur du CeDoc STSM

            </p>
        </strong>
    </center>
</div>
{% endblock content %}