{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}

<div class="tete">
    <br>
    <h1>{% page_attribute "page_title" %}</h1>
</div>
<section id="services" class="services">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <h3 class="section-title">Programme de mobilité des étudiants</h3>
        <br>

        <div class="row gy-5">

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/utbm.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.utbm.fr/" class="stretched-link">
                            <h3>UTBM : Université de Technologie de Belfort-Montbéliard</h3>
                        </a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/cigma.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.sigma-clermont.fr/fr" class="stretched-link">
                            <h3>CIGMA Clermont</h3>
                        </a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/arts.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a class="stretched-link">
                            <h3>ARTS ET MÉTIERS PARISTECH</h3>
                        </a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="500">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/fsbm.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://http://www.fsb.univh2c.ma/" class="stretched-link">
                            <h3>FSBM</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="600">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/ibam.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://http://www.oreilleducampus.org/universite-ouagadougou" class="stretched-link">
                            <h3>IBAM (INSTITUT BURKINABE DES ARTS ET METIERS)</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="700">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/ensem.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://ensem.univ-lorraine.fr/" class="stretched-link">
                            <h3>ENSEM</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->
            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="700">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/eil.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.eilco-ulco.fr/" class="stretched-link">
                            <h3>EIL: Ecole d'Ingénieurs du Littoral</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
    <br><br>
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <h3 class="section-title">Stages, formation, coopération technologique et industrielle</h3>
        <br>

        <div class="row gy-5">

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/socafix.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.cfcim.org/annuaire/entreprise?id=6696" class="stretched-link">
                            <h3>SOCAFIX</h3>
                        </a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/sch.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.se.com/ma/fr/" class="stretched-link">
                            <h3>Schneider Electric Maroc</h3>
                        </a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/psa.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.groupe-psa.com/fr/" class="stretched-link">
                            <h3>Groupe PSA</h3>
                        </a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="500">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/fiat.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.fiat.ma/" class="stretched-link">
                            <h3>FIAT</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="600">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/eaton.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.eaton.com/fr/fr-fr.html" class="stretched-link">
                            <h3>EATON</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="700">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/daher.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.daher.com/" class="stretched-link">
                            <h3>DAHER</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->
            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="700">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/emc.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://clusteremc.org/" class="stretched-link">
                            <h3>EMC Cluster</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->
            <div class="col-xl-4 col-md-6 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="700">
                <div class="service-item">
                    <div class="img">
                        <img style="height: 150px;width: 300px;"
                             src="{% static 'assets/img/part/cgi.jpeg' %}"
                             class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">

                        <a href="https://www.cgi.com/maroc/fr-fr" class="stretched-link">
                            <h3>CGI</h3>
                        </a>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
</section>

{% endblock %}
