{% load static %}
<style>
    .item {
        position: relative;
        padding-top: 20px;
        display: inline-block;
    }

    .notify-badge {
        position: absolute;
        right: -20px;
        top: 10px;
        background: #1F5793;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: white;
        padding: 5px 10px;
        font-size: 30px;
    }
</style>
<div class="d-none d-lg-block">
    <div class="row ml-2">
        <div class="col-2"></div>
        <div class="col-2">
            <div class="item">
                <span class="nbr notify-badge">70</span>
                <img style="height: 200px;width: 200px;" src="{% static 'assets/img/staticc/1.png' %}">
                <center><h3>Enseignants </h3></center>
            </div>
        </div>
        <div class="col-2">
            <div class="item">
                <span class="nbr  notify-badge">300</span>
                <img style="height: 200px;width: 200px;" src="{% static 'assets/img/staticc/3.png' %}">
                <center><h3>Lauréats </h3></center>
            </div>
        </div>
        <div class="col-2">
            <div class="item">
                <span class="nbr notify-badge">4</span>
                <img style="height: 200px;width: 200px;" src="{% static 'assets/img/staticc/2.png' %}">
                <center><h3>Départements </h3></center>
            </div>
        </div>

        <div class="col-2">
            <div class="item">
                <span class="nbr notify-badge">13</span>
                <img style="height: 200px;width: 200px;" src="{% static 'assets/img/staticc/9.png' %}">
                <center><h3>Filières </h3></center>
            </div>
        </div>
        <div class="col-2"></div>

    </div>

    <div class="row ml-2">
        <div class="col-2"></div>
        <div class="col-2">
            <div class="item">
                <span class="nbr notify-badge">118</span>
                <img style="height: 200px;width: 200px;" src="{% static 'assets/img/staticc/10.png' %}">
                <center><h3>Les doctorants </h3></center>
            </div>
        </div>
        <div class="col-2">
            <div class="item">
                <span class="nbr notify-badge">3</span>
                <img style="height: 200px;width: 200px;" src="{% static 'assets/img/staticc/99.png' %}">
                <center><h3>Laboratoires<br>
                    techniques</h3></center>
            </div>
        </div>
        <div class="col-2">
            <div class="item">
                <span class="nbr notify-badge">5</span>
                <img style="height: 200px;width: 200px;" src="{% static 'assets/img/staticc/8.png' %}">
                <center><h3>Terrains
                    de sport </h3></center>
            </div>
        </div>
        <div class="col-2">
            <div class="item">
                <span class="nbr notify-badge">3</span>
                <img style="height: 200px;width: 200px;" src="{% static 'assets/img/staticc/6.png' %}">
                <center><h3>Salles<br>
                    de conférence </h3></center>
            </div>
        </div>


        <div class="col-2"></div>

    </div>
</div>
<div class="d-block d-lg-none">
    <div class="row ml-2">

        <div class="col-6">
            <div class="item">
                <span class="nbr notify-badge">70</span>
                <img style="height: 100px;width: 100px;" src="{% static 'assets/img/staticc/1.png' %}">
                <center><h3>Enseignants </h3></center>
            </div>
        </div>
        <div class="col-6">
            <div class="item">
                <span class="nbr  notify-badge">300</span>
                <img style="height: 100px;width: 100px;" src="{% static 'assets/img/staticc/3.png' %}">
                <center><h3>Lauréats </h3></center>
            </div>
        </div>
    </div>
    <div class="row ml-2">
        <div class="col-6">
            <div class="item">
                <span class="nbr notify-badge">4</span>
                <img style="height: 100px;width: 100px;" src="{% static 'assets/img/staticc/2.png' %}">
                <center><h3>Départements </h3></center>
            </div>
        </div>
        <div class="col-6">
            <div class="item">
                <span class="nbr notify-badge">13</span>
                <img style="height: 100px;width: 100px;" src="{% static 'assets/img/staticc/9.png' %}">
                <center><h3>Filières </h3></center>
            </div>
        </div>
    </div>
    <div class="row ml-2">
        <div class="col-6">
            <div class="item">
                <span class="nbr notify-badge">118</span>
                <img style="height: 100px;width: 100px;" src="{% static 'assets/img/staticc/10.png' %}">
                <center><h3>Les doctorants </h3></center>
            </div>
        </div>
        <div class="col-6">
            <div class="item">
                <span class="nbr notify-badge">3</span>
                <img style="height: 100px;width: 100px;" src="{% static 'assets/img/staticc/99.png' %}">
                <center><h3>Laboratoires<br>
                    techniques</h3></center>
            </div>
        </div>
    </div>
    <div class="row ml-2">
        <div class="col-6">
            <div class="item">
                <span class="nbr notify-badge">5</span>
                <img style="height: 100px;width: 100px;" src="{% static 'assets/img/staticc/8.png' %}">
                <center><h3>Terrains<br>
                    de sport </h3></center>
            </div>
        </div>
        <div class="col-6">
            <div class="item">
                <span class="nbr notify-badge">3</span>
                <img style="height: 100px;width: 100px;" src="{% static 'assets/img/staticc/6.png' %}">
                <h3>Salles<br> de <br>conférence </h3>
            </div>
        </div>
    </div>
</div>
<script>
    var speed = 10;

    function incEltNbr(className) {
        var elts = document.getElementsByClassName(className);

        for (var i = 0; i < elts.length; i++) {
            var elt = elts[i];
            var endNbr = Number(elt.innerHTML);
            incNbrRec(0, endNbr, elt);
        }
    }

    function incNbrRec(i, endNbr, elt) {
        if (i <= endNbr) {
            elt.innerHTML = i;
            setTimeout(function () {
                incNbrRec(i + 1, endNbr, elt);
            }, speed);
        }
    }

    function incNbr() {
        incEltNbr("nbr");
    }

    incEltNbr("nbr");
</script>