{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}
<div class="tete">
    <br>
    <h1>Bases de données scientifiques</h1>
</div>
<div style="text-align: center; margin-bottom: 10px;">
    <hr style="color: #1F5793; width: 10%; height:1%; display: inline-block;margin-right: 10px;margin-bottom: 0px;  ">
    <h1 style="color: #1F5793; display: inline-block;">Accès gratuit à la plateforme ELSEVIER.</h1>
    <hr style="color: #1F5793; width: 10%;height:1%; display: inline-block;margin-left: 10px;margin-bottom: 0px; ">
</div>

<div class="row ml-4 mr-4"><strong><p>
    Elsevier ouvre gratuitement l'accès au contenu de son centre
    d’information sur le Covid-19. Un contenu spécifique pour chacune des
    catégories suivantes:
    <ul>
        <li>Les chercheurs : les dernières recherches sur COVID-19, à savoir
            early-stage et peer-reviewed, provenant des revues dont The Lancet et
            Cell Press.
            Près de 20 000 articles sur le Covid-19 sont accessibles gratuitement
            sur le lien suivant : <a href="https://www.sciencedirect.com/quicksearches/coronavirus">https://www.sciencedirect.com/quicksearches/coronavirus</a>

        </li>
        <li> Les cliniciens : des guides de compétences et des plans de soins
            pour le traitement, la sécurité et l'éducation des patients, ainsi que
            des webinaires préparés par le CDC (Center for Disease Control) en cas
            d’urgence.
        </li>
        <li>Les patients : des Vidéos 3D4 Medical sur Le coronavirus, des
            ressources du CDC (Centre pour te contrôle des maladies) et
            l’organisation mondiale de la santé et des informations sur le programme
            d'accès des patients à fa recherche d'Elsevier.

        </li>
    </ul>


    </p></strong>
    <a class="btn btn-primary" href="https://www.elsevier.com">Elsavier.com</a>
</div>

<br>


{% endblock content %}