{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% block content %}

<div class="tete">
    <br>
    <h1>Génie Mécanique</h1>
</div>

<section id="team" class="team ">


    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                    <ul class="nav nav-pills mb-3 custom-tab" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">Objectifs et Débouchés
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false">Conditions d'admission
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact"
                                    aria-selected="false">Contact
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-plus-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-plus" type="button" role="tab"
                                    aria-controls="pills-plus"
                                    aria-selected="false">
                                Brochure
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <div style="margin-left: 20px;">
                                <strong><U> Options de spécialisation</U></strong>
                                <br>
                                <ul>
                                    <li>
                                        Construction d’Ouvrages Métalliques (COM)
                                    </li>
                                    <li>
                                        Efficacité et Performance Energétique Industrielle (EFPEI)
                                    </li>
                                    <li>
                                        Conception de Produits Nouveaux (CPN)
                                    </li>
                                </ul>
                                <br>
                                <strong><U>Objectifs de la formation</U></strong>
                                <br>

                                L'objectif principal de la filière Génie Mécanique est de former des ingénieurs
                                capables d'aborder tous les problèmes techniques et scientifiques liés à l'étude, au
                                développement, au dimensionnement, à la conception, à la fabrication et à
                                l'industrialisation d'un système mécanique.
                                d’un système mécanique. En plus de ces compétences techniques, l’ingénieur
                                doit être un bon communicant et un bon manager afin de coordonner et de gérer
                                des équipes.
                                En plus de ces compétences techniques, l’ingénieur doit être un bon communicant et un
                                bon manager afin de
                                coordonner et de gérer des équipe

                                <br>
                                <strong><U>Débouchés</U></strong>
                                <br>

                                Les futurs ingénieurs Génie Mécanique peuvent intervenir dans plusieurs secteurs
                                d’activités en relation avec les
                                domaines thermique et énergétique, à savoir :
                                Construction d’Ouvrages Métalliques (COM)
                                <ul>
                                    <li>
                                        Bureau d’études et de développement de produits ;
                                    </li>
                                    <li>
                                        Construction d’ouvrages métalliques ;
                                    </li>
                                    <li>
                                        Industrie métallurgique et énergétique ;
                                    </li>
                                    <li>
                                        Maintenance matériel de transport ;
                                    </li>
                                    <li>
                                        Services, ingénierie et études techniques ;
                                    </li>
                                </ul>
                                Conception de Produits Nouveaux(CPN)
                                <ul>
                                    <li>
                                        Bureaux d’études et de développement de produits ;
                                    </li>
                                    <li>
                                        Design industriel ;
                                    </li>
                                    <li>
                                        Domaine automobile, aéronautique, matériel de
                                        transport ;
                                    </li>
                                    <li>
                                        Ingénierie de la qualité ;
                                    </li>
                                    <li>
                                        Ingénierie et études techniques ;
                                    </li>
                                    <li>
                                        Industrie métallurgique et énergétique. Efficacité et Performance Energétique
                                    </li>
                                    <li>
                                        Bureaux d’études de performance énergétique ;
                                    </li>
                                    <li>
                                        Construction d’ouvrages métalliques ;
                                    </li>
                                    <li>
                                        Industrie métallurgique et énergétique ;
                                    </li>
                                    <li>
                                        Maintenance matériel de transport ;
                                    </li>
                                    <li>
                                        Services, ingénierie et études techniques.
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <div style="margin-left: 20px;">
                                <strong><U>Admission</U></strong>
                                <br>


                            </div>


                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                              <div style="margin-left: 20px;">


                                <p><strong>ENSAM:</strong><br>
                                    Adresse de l’école: 150 Avenue Nile Sidi Othman, Casablanca<br>
                                    <strong>N° de Téléphone:</strong>
                                    <br>05 22 56 42 22</p>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="pills-plus" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <object data="{% static 'assets/pdf/formation/CI/GM.pdf' %}" type="application/pdf"
                                    width="100%"
                                    height="800px">
                                <p>Impossible d'afficher le PDF. Veuillez <a
                                        href="{% static 'assets/pdf/formation/CI/GM.pdf' %}">télécharger le
                                    fichier</a> pour le visualiser.</p>
                            </object>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
